<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>

POST CREATE

Title : <br/>
<input type="text" class="input_value" id="create_post_title" /> <br/>
Content : <br/>
<input type="text" class="input_value" id="create_post_content" /> <br/>
Author : <br/>
<input type="text" class="input_value" id="create_post_author" /> <br/>

<div>
    <button onclick="post_create()">CREATE</button>
</div>

<script>
    function post_create(){

        let params = {};
        let input_value = $(".input_value");
        for(let each of input_value){
            let eachId = $(each).attr("id"); // create_post_title
            let eachKey = eachId.replace("create_post_", ""); // title
            params[eachKey] = $(each).val();
        }

        $.ajax({
            url: "/api/post/create",
            method: "GET",
            data: params,
            success: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>
</body>
</html>