<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DETAIL</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
SBOARD DETAIL

<div>
    id : <input type="text" id="detail_sboard_id"/> <br/>
    title : <input type="text" id="detail_sboard_title"/> <br/>
    content : <input type="text" id="detail_sboard_content"/> <br/>
    author : <input type="text" id="detail_sboard_author"/> <br/>
</div>
<div>
    <button onclick="update_sboard()">UPDATE</button>
    <button onclick="delete_sboard()">DELETE</button>
</div>

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        detail_sboard();
    });

    let tempHref = window.location.href; // http://localhost:8080/sboard/detail/1
    /*
    //1)
    let tempIndexOf = tempHref.lastIndexOf("/");
    let tempId = tempHref.substring(tempIndexOf + 1);
    alert(tempId);
    * */

    //2)
    let tempArray = tempHref.split("/");
    let tempId = tempArray[tempArray.length - 1];

    function delete_sboard(){
        $.ajax({
            url: "/api/sboard/delete",
            method: "GET",
            data: {
                id : tempId
            },
            success: (data, status, xhr)=>{
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
    function update_sboard(){
        $.ajax({
            url: "/api/sboard/update",
            method: "GET",
            data: {
                id : tempId
                , title : $("#detail_sboard_title").val()
                , content : $("#detail_sboard_content").val()
                , author : $("#detail_sboard_author").val()
            },
            success: (data, status, xhr)=>{
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }

    function detail_sboard(){
        $.ajax({
            url: "/api/sboard/detail/" + tempId,
            method: "GET",
            data: {},
            success: (data, status, xhr)=>{
                //alert(JSON.stringify(data));
                $("#detail_sboard_id").val(data["id"]);
                $("#detail_sboard_title").val(data["title"]);
                $("#detail_sboard_content").val(data["content"]);
                $("#detail_sboard_author").val(data["author"]);
            },
            error: (data, status, xhr)=>{
                alert(JSON.stringify(data));
            },
        });
    }
</script>

</body>
</html>